.topbg {
	background-image: url(../images/bg.jpg);
	height: 100px;
	width: 100%;
}
.topbgbg {
	background-image: url(../images/bgtop.jpg);
	height: 100px;
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}



.font {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666666;
}.bgbg {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-image: url(../images/bg.gif);
	width: 980px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	overflow: auto;
	height: auto;
}


.left {
	float: left;
	width: 240px;
	margin-left: 10px;
	background-image: url(../images/lett_06.gif);
	background-color: #0099FF;
}
.contt {
	line-height: 180%;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
}
.dibg {
	background-image: url(../images/dibg.jpg);
	height: 60px;
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 3px;
	padding-right: 10px;
	padding-left: 10px;
}
.di {
	background-image: url(../images/dibg.gif);
	background-repeat: repeat;
	width: 100%;
}
.padding10 {
	padding-left: 20px;
}
.biao {
	font-family: Arial, Helvetica, sans-serif;
	color: #990000;
	height: 20px;
	width: 100%;
	margin: 0px;
	font-size: 14px;
	background-image: url(../images/line.gif);
	background-repeat: repeat-x;
}
.cont-text {
	line-height: 200%;
	width: 98%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
}
